Django==2.1.1
django-filter==1.1.0
django-templated-mail==1.1.1
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
djoser==1.1.5
Markdown==2.6.11
psycopg2==2.7.5
PyJWT==1.6.4
pytz==2018.5
whitenoise==3.3.1
